<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.internalstoragemgmt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="StorageMgmt"
        android:theme="@*android:style/Theme.Holo.Dialog.Alert" >
        <activity
            android:name=".StorageManagement"
            android:label="activity_storage_mgmt_dlg"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
    </application>
</manifest>
